language: csharp
solution: Shortcut creator.sln

os: windows
mono: none

addons:
  artifacts: true

script:
- choco install dotnetcore-sdk
- choco install 7zip.install
- dotnet --version
- dotnet restore	
- dotnet build
- dir .\\bin\\Debug
- dir .\\bin\\Debug\\netcoreapp3.0

  # This command generates a release.zip file.
- 7z a -tzip release.zip .\\bin\\Debug\\netcoreapp3.0
- dir
deploy:
  provider: releases
 # overwrite:true
  api_key:
    secure: "vFayTtxDvXcA0v5GTjhpk8zJJA4h+MiWuLO9O7+u6nrxVpovsLk6AzbOx2RP8UjSevCEAkvsUK0mFyiHGvrOQojA42Gn8h98Sw+3d1ate6VhadNaS5HufolpwwN6l9xkaFyovOkgMIvmgkHSSWr9gw0O5LUuAwyPd/gPXykwHVUSHrGSDYzleuFUDkPc+HfL7+tka1O1jHV4dEmpxc+4LrNmRXjYnc3Pv7hCYQTFhD4K8UpFYhcSNZmZ3EpillS0aTxalkydvMwrLkWJ9JdZjQIA+CfSZQ3MXdELlKGxr/XoAlTLdf/qijzzyqtRyqEdWMEbpl5LX1m9VqEswRl54YfBKpKzeLLWP2/vW9cMBOdV2TRUN+YVAk21s0fMNWqiW2NcyjrVr+1NaJUHwYyICMdbQ0tyDZgADRjMSFIn/+PD8/kDJVaWKSbu9jwI4M4Fp5LYDhwkTbnSC7c9+njnBphMciyETL+ie2F7C6wkatgKmJ5BWPBAKhziIG7K8TXcOjocMdqW56I1rJCKf1kqzIX8/3p/Hue5aR+B6Eb6ILURsORNNsdVZ9ddNLCWRi6ldun+EmJRWLmMK0f+TYYQNUfnPbLzJKEr8IZXjJqaQSkxEMcCRaVojx3C7ykwo5EWViHOZ1ALPxKyRpi0hp7JuGpdc6GL86sDMS+hTn00CEo="
  file: '.\\release.zip'
  skip_cleanup: true
  on:
    tags: true 